body{

margin:0;

font-family:Arial, sans-serif;

background:#fff4f8;

}



.app{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

}



.duracion{

width:90%;

max-width:420px;

text-align:center;

}



.header{

display:flex;

align-items:center;

gap:20px;

}



.header button{

border:none;

background:white;

font-size:35px;

border-radius:50%;

width:45px;

height:45px;

}





.zona-mascota{

position:relative;

height:230px;

margin-top:20px;

}



.circulo{

position:absolute;

width:200px;

height:200px;

background:#ffd9e8;

border-radius:50%;

left:50%;

transform:translateX(-50%);

}



.mascota{

position:relative;

height:200px;

}



h2{

font-size:26px;

color:#555;

}



.descripcion{

color:#777;

}



.selector{

display:flex;

justify-content:center;

align-items:center;

gap:35px;

margin:35px;

}



.selector button{

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#f8b8d2;

font-size:30px;

}



.tiempo span{

font-size:55px;

font-weight:bold;

color:#444;

}



.tiempo p{

margin:0;

color:#777;

}




.boton{

width:100%;

padding:18px 25px;

border:none;

border-radius:35px;

background:#f39ac2;

color:white;

font-size:18px;

font-weight:bold;

cursor:pointer;

box-shadow:0 8px 15px rgba(0,0,0,0.12);

transition:0.3s;

}



.boton:hover{

transform:scale(1.03);

}



.boton:active{

transform:scale(0.97);

}



.mensaje{

color:#999;

margin-top:20px;

}