/* =====================================
   BREAQ - ACOMPAÑAMIENTO CSS

   Pantalla principal del sistema
   de pausas inteligentes

===================================== */


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&family=Poppins:wght@800&display=swap');



*{


margin:0;


padding:0;


box-sizing:border-box;


}




body{


min-height:100vh;


background:#f8f0ed;


display:flex;


justify-content:center;


align-items:center;


font-family:'Nunito',sans-serif;


}





.app{


width:390px;


height:844px;


background:#fffaf8;


border-radius:40px;


overflow:hidden;


}







.acompanamiento{


height:100%;


padding:40px 25px;


overflow-y:auto;


}









/* HEADER */


.header{


display:flex;


align-items:center;


gap:15px;


}



.header button{


width:45px;


height:45px;


border:none;


border-radius:50%;


background:#f5e5ee;


font-size:35px;


color:#aa3f74;


cursor:pointer;


}



.header h1{


font-family:'Poppins';


font-size:27px;


color:#aa3f74;


}



.header p{


color:#80758e;


}










/* MASCOTA */


.zona-mascota{


height:260px;


display:flex;


justify-content:center;


align-items:center;


position:relative;


}




.circulo{


position:absolute;


width:220px;


height:220px;


background:#f3dbe5;


border-radius:50%;


}



.mascota{


width:180px;


z-index:2;


animation:flotar 3s infinite ease-in-out;


}









/* TARJETAS */


.tarjeta{


background:white;


padding:22px;


border-radius:30px;


margin-top:20px;


box-shadow:


0 10px 25px rgba(0,0,0,.06);


}



.tarjeta h2{


font-family:'Poppins';


font-size:19px;


color:#42213d;


}









/* ESTADO */


.estado{


margin-top:18px;


padding:15px;


background:#f5e5ee;


border-radius:20px;


font-weight:900;


color:#aa3f74;


font-size:18px;


}





#punto{


margin-right:8px;


}









/* CONTADOR */


.contador{


font-size:45px;


font-family:'Poppins';


color:#aa3f74;


margin-top:15px;


}









/* BOTON */


.boton{


width:100%;


margin-top:30px;


padding:18px;


border:none;


border-radius:40px;


background:#aa3f74;


color:white;


font-size:18px;


font-weight:900;


cursor:pointer;


}






@keyframes flotar{


0%,100%{


transform:translateY(0);


}


50%{


transform:translateY(-10px);


}


}