/* =====================================
   BREAQ - PAUSA CSS

   Pantalla de relajación

===================================== */


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&family=Poppins:wght@800&display=swap');




*{

margin:0;

padding:0;

box-sizing:border-box;

}




body{


min-height:100vh;


background:#f8f0ed;


display:flex;


justify-content:center;


align-items:center;


font-family:'Nunito',sans-serif;


}






.app{


width:390px;


height:844px;


background:#fffaf8;


border-radius:40px;


overflow:hidden;


}






.pausa{


height:100%;


padding:45px 25px;


text-align:center;


}





h1{


font-family:'Poppins';


font-size:32px;


color:#aa3f74;


}



.subtitulo{


margin-top:10px;


color:#80758e;


}









/* =====================================
   MASCOTA
===================================== */


.zona-mascota{


height:260px;


display:flex;


align-items:center;


justify-content:center;


position:relative;


}




.circulo{


position:absolute;


width:230px;


height:230px;


border-radius:50%;


background:#f3dbe5;


}




.mascota{


width:170px;


z-index:2;


animation:flotar 3s infinite ease-in-out;


}








/* =====================================
   RESPIRACIÓN
===================================== */


.respiracion{


margin-top:10px;


}



.respiracion h2{


font-family:'Poppins';


color:#42213d;


font-size:25px;


}





.respira-circulo{


width:100px;


height:100px;


border-radius:50%;


background:#e7ddf6;


margin:25px auto;


animation:respirar 4s infinite;


}









/* MENSAJE */


.mensaje{


color:#726981;


line-height:1.5;


font-weight:700;


}









button{


width:100%;


margin-top:35px;


padding:18px;


border:none;


border-radius:40px;


background:#aa3f74;


color:white;


font-size:18px;


font-weight:900;


cursor:pointer;


}








/* ANIMACIONES */


@keyframes respirar{


0%,100%{


transform:scale(.8);


opacity:.7;


}



50%{


transform:scale(1.3);


opacity:1;


}


}






@keyframes flotar{


0%,100%{


transform:translateY(0);


}



50%{


transform:translateY(-10px);


}


}