/* ============================================
   BREAQ - MI PROCESO CSS

   Pantalla seguimiento usuario

============================================ */



@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800;900&family=Poppins:wght@800;900&display=swap');




*{

margin:0;

padding:0;

box-sizing:border-box;

}




body{


min-height:100vh;


background:#f8f0ed;


display:flex;


justify-content:center;


align-items:center;


font-family:'Nunito',sans-serif;


}






.app{


width:390px;


height:844px;


background:#fffaf8;


border-radius:40px;


overflow:hidden;


}






.proceso{


height:100%;


overflow-y:auto;


padding:35px 25px;


}









/* HEADER */


.header{


display:flex;


align-items:center;


justify-content:center;


position:relative;


}



.header h1{


font-family:'Poppins';


color:#aa3f74;


font-size:30px;


}




.volver{


position:absolute;


left:0;


width:45px;


height:45px;


border:none;


border-radius:50%;


background:#f5e5ee;


color:#aa3f74;


font-size:35px;


line-height:1;


cursor:pointer;


}









/* MASCOTA */


.zona-mascota{


height:230px;


display:flex;


justify-content:center;


align-items:center;


position:relative;


}



.circulo{


position:absolute;


width:200px;


height:200px;


background:#f3dbe5;


border-radius:50%;


}



.mascota{


width:170px;


z-index:2;


animation:flotar 3s infinite ease-in-out;


}










/* MENSAJE */


.mensaje{


text-align:center;


}



.mensaje h2{


font-family:'Poppins';


font-size:21px;


color:#42213d;


}



.mensaje p{


margin-top:8px;


color:#80758e;


}









/* ESTADISTICAS */


.estadisticas{


margin-top:25px;


}



.dato{


background:white;


padding:18px;


border-radius:25px;


margin-top:12px;


display:flex;


align-items:center;


gap:15px;


box-shadow:


0 8px 20px rgba(0,0,0,.05);


}



.dato span{


font-size:28px;


}



.dato p{


color:#726981;


font-weight:700;


}



.dato strong{


display:block;


color:#aa3f74;


font-size:18px;


}








/* SEMANA */


.semana{


margin-top:25px;


}



.semana h2{


font-family:'Poppins';


font-size:20px;


color:#42213d;


}




.dias{


display:flex;


justify-content:space-around;


margin-top:20px;


}



.dias div{


text-align:center;


color:#80758e;


font-weight:800;


}



.dias i{


display:block;


width:22px;


height:22px;


border-radius:50%;


background:#ead8e5;


margin-top:10px;


}



.dias i.activo{


background:#aa3f74;


}









/* BOTON */


.inicio{


width:100%;


margin-top:30px;


padding:18px;


border:none;


border-radius:40px;


background:#aa3f74;


color:white;


font-size:18px;


font-weight:900;


cursor:pointer;


}







@keyframes flotar{


0%,100%{


transform:translateY(0);


}



50%{


transform:translateY(-10px);


}


}